-e git+ssh://git@github.com/softdev45/ancient-text-meditations.git@restructure#egg=ancient_texts
ansiwrap==0.8.4
blinker==1.9.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
console-menu==0.8.0
Flask==3.1.2
flask-cors==6.0.1
gunicorn==23.0.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
Levenshtein==0.27.3
lxml==6.0.2
MarkupSafe==3.0.3
packaging==25.0
prettytable==3.17.0
pybind11==3.0.1
pylcs==0.1.1
python-Levenshtein==0.27.3
RapidFuzz==3.14.3
requests==2.32.5
six==1.17.0
textwrap3==0.9.2
urllib3==2.5.0
wcwidth==0.2.14
Werkzeug==3.1.4
