    :root {
      --bg-col: #f4f4f1;
      --txt-col: #000;
      --bg-dark: rgb(211, 211, 211);
    }

    input,
    select,
    textarea,
    button {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
    }

    a {
      background-color: var(--bg-col);
      border: 1px;
      text-align: center;
      padding: 5px;
    }

    a:hover {
      background-color: var(--bg-dark);
    }

    /* spacing links in header */
    header a {
      margin: 0 5px;

    }

    .verse-ref {
      color: #888;
    }

    .verse-text {
      /* font-size: 2rem; */
    }

    input {
      font-family: inherit;
      font-size: 1.5rem;
      background-color: var(--bg-col);
      padding: 0.1rem;
      border: none;
      width: 60%;
      /* padding: 0 20vw; */
    }

    @media (max-width: 800px) {
      input {
        width: 95%;
        /* Reduce margins */
      }
    }


    input:focus {
      outline-color: var(--bg-dark);
      outline-width: 1px;
    }

    #word {
      margin-top: 10px;
      /* margin-bottom: 10%; */
    }

    #word > div:first-child .verse-text{
      font-size: 1.8rem;
    }

    #word > div:not(:first-child) .verse-text{
      font-size: 1rem ;
    }

    .swiper {
      touch-action: none;
    }

    #controls {
      position: fixed;
      bottom:0;
      width: 100vw;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 15%;
    }

    #controls > div {
      display:grid;
      grid-template-rows: 1fr 1fr;
      /* flex-direction: column; */
      /* flex: 1; */
    }

    /* from html */


    body {
      display: flex;
      flex-direction: column;
      height: 100vh;
      margin: 0;
      font-family: 'Average-Regular';
      background-color: #f4f4f1;
      background-color: var(--bg-col);
    }

    header {
      font-family: "CustomFont";
      background-color: rgb(211, 211, 211);
      background-color: var(--bg-dark);
      color: #181717;
      margin: 0;
      padding: 10px;
      margin-bottom: 10px;
    }

    main {
      padding: 10px;
      text-align: center;
    }

    summary span:first-of-type {
      font-size: large;
      font-weight: bold;
    }


    details {
      overflow: hidden;
      border: 1px solid #ddd;
      border-radius: 8px;
      margin: 0 20vw;
      /* padding-bottom: 10px; */
      margin-bottom: 10px;
      /* transition: all 0.3s ease-out; */
    }

    @media (max-width: 800px) {
      details {
        margin: 0 5vw;
        /* Reduce margins */
      }
    }

    /* Allow animations to 'auto' heights */
    :root {
      interpolate-size: allow-keywords;
    }


    details::details-content {
      block-size: 0;
      opacity: 0;
      overflow: hidden;
      transition:
        block-size 0.4s ease,
        opacity 0.3s ease,
        content-visibility 0.4s allow-discrete;
    }

    details[open]::details-content {
      padding-top: 5px;
      block-size: auto;
      /* padding: 10px; */
      opacity: 1;
    }


    details summary {
      background-color: #e3e2e2;
      font-weight: bold;
      /* margin-bottom: 5px; */
    }

    details div:first-of-type {
      text-align: start;
      padding: 10px;
    }

    p {
      /* padding: 10px; */
      margin: 10px;

    }