    :root {
      --bg-col: #f4f4f1;
      --txt-col: #000;
      --bg-dark: rgb(211, 211, 211);
    }

    input,
    select,
    textarea,
    button {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
    }

    a {
      background-color: var(--bg-col);
      border: 1px;
      text-align: center;
      padding: 5px;
    }

    a:hover {
      background-color: var(--bg-dark);
    }

    /* spacing links in header */
    header a {
      margin: 0 5px;

    }

    .verse-ref {
      color: #888;
    }

    .verse-text {
      /* font-size: 2rem; */
    }

    input {
      font-family: inherit;
      font-size: 1.5rem;
      background-color: var(--bg-col);
      padding: 0.1rem;
      border: none;
      width: 60%;
      /* padding: 0 20vw; */
    }

    @media (max-width: 800px) {
      input {
        width: 95%;
        /* Reduce margins */
      }
    }


    input:focus {
      outline-color: var(--bg-dark);
      outline-width: 1px;
    }

    #word {
      margin-top: 0px;
      /* margin-bottom: 10%; */
    }

    #word>div:first-child .verse-text {
      font-size: 1.8rem;
    }

    #word>div:not(:first-child) .verse-text {
      font-size: 1rem;
    }

    .swiper {
      touch-action: none;
    }

    #controls {
      position: fixed;
      bottom: 0;
      width: 100vw;
      display: grid;
      place-items: center;
      height: 20vh;
    }


    .four-way-arrow {
      width: 150px;
      height: 150px;
      background-color: #333;

      /* ADJUSTED FOR THICKNESS: Changed the 47/53% gaps to 40/60% */
      clip-path: polygon(
          /* Top Head */
          50% 0%, 70% 25%, 60% 25%,
          /* Right Head */
          60% 40%, 75% 40%, 75% 30%, 100% 50%, 75% 70%, 75% 60%,
          /* Bottom Head */
          60% 60%, 60% 75%, 70% 75%, 50% 100%, 30% 75%, 40% 75%,
          /* Left Head */
          40% 60%, 25% 60%, 25% 70%, 0% 50%, 25% 30%, 25% 40%,
          /* Closing center */
          40% 40%, 40% 25%, 30% 25%);
    }

    .swiper {
      position: relative;
      transform: translate3d(0, 0, 0);
      z-index: 0;
      width: 70px;
      height: 70px;
      background-color: rgb(134, 124, 111);
    }

    .control-btns {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 50%;
    }

    .control-btns>* {
      height: 100%;
    }


    #controls>div {
      display: grid;
      grid-template-rows: 1fr 1fr;
      /* flex-direction: column; */
      /* flex: 1; */
    }

    /* from html */


    body {
      display: flex;
      flex-direction: column;
      height: 100vh;
      margin: 0;
      font-family: 'Average-Regular';
      background-color: #f4f4f1;
      background-color: var(--bg-col);
      height: 100%;
      overflow: hidden;
    }

    header {
      font-family: "CustomFont";
      background-color: rgb(211, 211, 211);
      background-color: var(--bg-dark);
      color: #181717;
      margin: 0;
      padding: 10px;
      /* margin-bottom: 10px; */
    }

    /* .fade-element {
      opacity: 1;
      transition: opacity 0.5s ease;
    } */

    .is-hidden {
      display:none;
    }

    main {
      padding: 10px;
      text-align: center;
    }

    summary span:first-of-type {
      font-size: large;
      font-weight: bold;
    }


    details {
      overflow: hidden;
      border: 1px solid #ddd;
      border-radius: 8px;
      margin: 0 20vw;
      /* padding-bottom: 10px; */
      margin-bottom: 10px;
      /* transition: all 0.3s ease-out; */
    }

    @media (max-width: 800px) {
      details {
        margin: 0 5vw;
        /* Reduce margins */
      }
    }

    /* Allow animations to 'auto' heights */
    :root {
      interpolate-size: allow-keywords;
    }


    details::details-content {
      block-size: 0;
      opacity: 0;
      overflow: hidden;
      transition:
        block-size 0.4s ease,
        opacity 0.3s ease,
        content-visibility 0.4s allow-discrete;
    }

    details[open]::details-content {
      padding-top: 5px;
      block-size: auto;
      /* padding: 10px; */
      opacity: 1;
    }


    details summary {
      background-color: #e3e2e2;
      font-weight: bold;
      /* margin-bottom: 5px; */
    }

    details div:first-of-type {
      text-align: start;
      padding: 10px;
    }

    p {
      /* padding: 10px; */
      margin: 10px;

    }