@font-face {
  font-family: 'OHfont';
  src: url('fonts/OHfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Cardo-Regular';
  src: url('fonts/Cardo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GoudyBookletter1911-Regular';
  src: url('fonts/GoudyBookletter1911-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CrimsonPro-VariableFont_wght';
  src: url('fonts/CrimsonPro-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Quattrocento-Regular';
  src: url('fonts/Quattrocento-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Average-Regular';
  src: url('fonts/Average-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant-VariableFont_wght';
  src: url('fonts/Cormorant-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'OHfont';
  src: url('fonts/OHfont.woff') format('woff');
}

@font-face {
  font-family: 'BBHHegarty-Regular';
  src: url('fonts/BBHHegarty-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Petrona-Thin';
  src: url('fonts/Petrona-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant-Regular';
  src: url('fonts/Cormorant-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'HedvigLettersSerif-Regular-VariableFont_opsz';
  src: url('fonts/HedvigLettersSerif-Regular-VariableFont_opsz.ttf') format('truetype');
}

@font-face {
  font-family: 'OldStandardTT-Regular';
  src: url('fonts/OldStandardTT-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Petrona-Regular';
  src: url('fonts/Petrona-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montaga-Regular';
  src: url('fonts/Montaga-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LindenHill-Regular';
  src: url('fonts/LindenHill-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CrimsonText-Regular';
  src: url('fonts/CrimsonText-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LibreBaskerville-VariableFont_wght';
  src: url('fonts/LibreBaskerville-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Platypi-VariableFont_wght';
  src: url('fonts/Platypi-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Lancelot-Regular';
  src: url('fonts/Lancelot-Regular.ttf') format('truetype');
}
