<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='browshare.css') }}" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" /> -->
  <style>
  </style>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
</head>

<body>
  <header>
    <!-- Guides in studying science, information technology and languages. -->
    <!-- Jesus Christ -->
    <!-- "I am the Truth, the Way, and the Life" -->
    <button onclick="rotateCustomFonts()">Change Font</button>
    <a href="/alphabet" style="color: #242424;">Ancient Scriptures</a>
  </header>
  <nav>

  </nav>
  <main class="">


    <!-- <h2>Functions, Equations and Data Structures</h2> -->
    <!-- <h1>Browshare</h1> -->
    <div id="command-control">
      <input id="query-input" placeholder="search..." />
    </div>

    <div id="word">

    </div>

    <div id="controls" class="swiper">
      <button onclick="stepVerse(-1)" class="button-prev-verse">Previous Verse (or swipe)</button>
      <div>
        <button onclick="changeView(1)">Next Find</button>
        <button onclick="changeView(-1)">Previous Find</button>
      </div>
      <button onclick="stepVerse(1)" button="button-next-verse">Next Verse</button>

    </div>

    <div id="log-display">

    </div>

  </main>
  <script src="{{ url_for('static', filename='pagetools.js') }}" defer></script>
  <script src="{{ url_for('static', filename='browshare.js') }}" defer></script>
  <!-- <script src="{{ url_for('static', filename='TinyGesture.min.js') }}" defer></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/tinygesture@3.0.0/dist/TinyGesture.min.js"></script> -->
  <script type="module">
    // import TinyGesture from 'https://cdn.jsdelivr.net/npm/tinygesture@3.0.0/dist/TinyGesture.min.js';
    import TinyGesture from "{{ url_for('static', filename='TinyGesture.js') }}";
    import { addTransition, removeTransition } from "{{ url_for('static', filename='DemoTransitions.js') }}";
    import  Pannable  from "{{ url_for('static', filename='DemoPannable.js') }}";

    export default function Swipeable(node) {
      const options = {
        // Set a higher threshold for horizontal movement (e.g., 50px)
        // and a lower one for vertical movement (e.g., 10px).
        threshold: (type, self) => {
          if (type === 'x') {
            // return Math.max(50, Math.floor(0.15 * (window.innerWidth || document.body.clientWidth)));
            return 10;
          } else {
            // return Math.max(10, Math.floor(0.15 * (window.innerHeight || document.body.clientHeight)));
            return 10;
          }
        },
        velocityThreshold: 5,
        diagonalSwipes: true,
        // Other options...
      };
      const gesture = new TinyGesture(node, options);
      let goRaf;
      let backTimeout;
      const preventDefault = (event) => {
        event.preventDefault();
      };

      addTransition(node, 'transform 0.5s ease');

      // Don't allow the page to scroll when the target is first pressed.
      node.addEventListener('touchstart', preventDefault, { passive: false });

      let xpos = 0;
      let ypos = 0;
      let myTransform = ` translateX(${xpos}px) translateY(${ypos}px)`;
      node.style.transform = '';

      function resetTransform() {
        node.style.transform = `${node.style.transform}`.replace(/\s*translateX\([^)]*\)/, '');
        node.style.transform = `${node.style.transform}`.replace(/\s*translateY\([^)]*\)/, '');
        myTransform = ` translateX(${xpos}px) translateY(${ypos}px)`;
      }

      function doTransform() {
        node.style.transform = `${node.style.transform}` + myTransform;
        clearTimeout(backTimeout);
        backTimeout = setTimeout(() => {
          xpos = 0;
          ypos = 0;
          resetTransform();
        }, 100);
      }

      // When the target is swiped, fling it really far in that direction before coming back to origin.
      gesture.on('swiperight', () => {
        if (gesture.scale > 1.1 || gesture.scale < 0.9) {
          return;
        }
        xpos = 1000;
        resetTransform();
        cancelAnimationFrame(goRaf);
        goRaf = requestAnimationFrame(doTransform);
        stepVerse(-1)
      });
      gesture.on('swipeleft', () => {
        if (gesture.scale > 1.1 || gesture.scale < 0.9) {
          return;
        }
        xpos = -1000;
        resetTransform();
        cancelAnimationFrame(goRaf);
        goRaf = requestAnimationFrame(doTransform);
        stepVerse(1)
      });
      gesture.on('swipeup', () => {
        if (gesture.scale > 1.1 || gesture.scale < 0.9) {
          return;
        }
        ypos = -300;
        resetTransform();
        cancelAnimationFrame(goRaf);
        goRaf = requestAnimationFrame(doTransform);
        changeView(1)
      });
      gesture.on('swipedown', () => {
        if (gesture.scale > 1.1 || gesture.scale < 0.9) {
          return;
        }
        ypos = 300;
        resetTransform();
        cancelAnimationFrame(goRaf);
        goRaf = requestAnimationFrame(doTransform);
        changeView(-1)
      });

      return {
        destroy() {
          node.removeEventListener('touchstart', preventDefault, {
            passive: false,
          });
          cancelAnimationFrame(goRaf);
          clearTimeout(backTimeout);
          node.style.transform = '';
          removeTransition(node, 'transform');
          gesture.destroy();
        },
      };
    }
    // import TinyGesture from 'tinygesture';

    document.addEventListener('DOMContentLoaded', function () {
      const target = document.getElementsByClassName('swiper')[0];
      Pannable(target)
      Swipeable(target)
    })

  </script>
</body>

</html>